:root{
    --color-white:#fff;
    --color-dark1:#130e17;
    --color-dark2:#0e0814;
    --color-dark3:#110a19;
    --color-dark4:#130f18;
    --color-dark5:#343434;
    --color-purple:#5700ff;
    --color-blu:#0a8efd;

}
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    background-image: linear-gradient(var(--color-dark1),var(--color-dark4)); 
    margin:auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);

}
.logo_header{
    width: 125px;
}
/* Estilização de Menu*/
.header, 
.navegation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 3.5em;
    width: 50%;
    justify-content:space-between;
    margin: 0 auto;
    padding: 1% 10%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.navegation_header{
    gap: 2.5em;
}
.navegation_header a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 15px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    font-family: 'Roboto', sans-serif;
}
.navegation_header a:hover{
    color: var(--color-purple);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
a.active{
    background-color: var(--color-dark3);
    color: var(--color-blu);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/*
Estilização de conteúdos
*/

.content{
    text-align: center;
    padding-top: 1em;
    height: 100vh;
    transform: 1s;
    -webkit-transform: 1s;
    -moz-transform: 1s;
    -ms-transform: 1s;
    -o-transform: 1s;
}
/*estilização botão download*/
.button_download{
    background-color: transparent;
    border: none;
}
.button_download a{
    text-decoration: none;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 10% 20%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.button_download a:hover{
    box-shadow: 0px 0px 10px var(--color-purple);
}
/* Estilização de botões do menu */

.btn_icon_header{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
/* Estilização de slide*/
.slider{
    position: relative;
    width: 60em;
    height: 33em;
    margin: auto;
    background: linear-gradient(to top, #6600ffef, #0091ffd5), url(/img/dark.jpg) 0 0 no-repeat scroll;
    border-radius: 3em;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}
div.slider h1{
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    bottom: 46%;
    margin-bottom: 20px;
    transform: translate(auto,-50%);
    text-align: center;
    -webkit-transition: translate(-50%,-50%);
    -moz-transition: translate(-50%,-50%);
    -ms-transition: translate(-50%,-50%);
    -o-transition: translate(-50%,-50%);
    -webkit-transform: translate(auto,-50%);
    -moz-transform: translate(auto,-50%);
    -ms-transform: translate(auto,-50%);
    -o-transform: translate(auto,-50%);
}
div.slider span{
    color: #110a19;
}
div.slider .button_download_slider{
    position: absolute;
    background-color: transparent;
    border: none;
    transform: translate(-50%,-50%);
    text-align: center;
    bottom: 30%;
    left: 47%;
    -webkit-transition: translate(-50%,-50%);
    -moz-transition: translate(-50%,-50%);
    -ms-transition: translate(-50%,-50%);
    -o-transition: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

}
div.slider .button_download_slider a{
    text-decoration: none;
    background-color:rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    border: 1px solid var(--color-white);
    font-size: 25px;
    font-weight: 300;
    padding: 10% 20%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.button_download_slider a:hover{
    box-shadow: 0px 0px 10px var(--color-purple);
    background-color:rgb(255, 255, 255);
}
div.slider h2{
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    top: 50%;
    bottom: 50%;
    margin-bottom: 20px;
    transform: translate(45%,-50%);
    text-align: center;
    -webkit-transition: translate(-50%,-50%);
    -moz-transition: translate(-50%,-50%);
    -ms-transition: translate(-50%,-50%);
    -o-transition: translate(-50%,-50%);
    -webkit-transform: translate(45%,-50%);
    -moz-transform: translate(45%,-50%);
    -ms-transform: translate(45%,-50%);
    -o-transform: translate(45%,-50%);
}
/* Estilização de marcas */
div.tabelamarcas table.marcas{
    margin:auto; /
}
div.tabelamarcas table.marcas img{
	max-height: 50px;
	transition: .3s;
	-webkit-filter: gray;
	filter: grayscale(100%);
	filter: gray;
	 /* IE */:;
     opacity: 0.2;
}
div.tabelamarcas table.marcas img:hover{
	-webkit-filter: none;	
	filter: none;
    opacity: 1;
}
div.tabelamarcas table.marcas td.impar{
    border-right: 1px solid var(--color-dark5);
    padding-right: 10px;
}
div.tabelamarcas table.marcas td.par{
    padding-left: 10px;
}
div.tabelamarcas h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.5;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 15px;
}
/* Rodapé Design*/
footer{
    position: relative;
    background-color: var(--color-dark3);
    color: #FFF;
    width: auto;   
    text-align: center;
    margin-top: 30px;
}
footer .texto-rodape{
    background-color: var(--color-dark2);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
    
}
footer .texto-rodape{
    gap: 0.5em;
}
footer .texto-rodape h3{
    text-decoration: none;
    font-weight: 500;
    opacity: 0.2;
    color: var(--color-white);

}
footer .texto-rodape a{
    text-decoration: none;
    font-weight: 300;
    opacity: 0.2;
    color: var(--color-white);
}
footer .texto-rodape a:hover{
    text-decoration: underline;
    font-weight: 300;
    opacity: 1;
    color: var(--color-blu);
}
footer .imagem-rodape a svg{
    color: white;
}
footer .imagem-rodape svg{
    height: 25px;
    margin: 10px 5px;
    margin-bottom: 10px;
}
footer .imagem-rodape svg:hover{
    color: var(--color-blu);
}
footer .imagem-rodape p{
    font-size: 12px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 10px;
}
.logo_header2{
    width: 125px;
    margin: 10px;
    margin-top: 35px;
}
/* Estilo página aplicativos */
/* Estilo da tela de apps */

table.aplicativos{
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
table.aplicativos td h1,p{
    font-family: 'Roboto', sans-serif;
}
table.aplicativos td{
    padding: 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
table.aplicativos td img{
    border: 2px solid var(--color-blu);
    vertical-align: center;
    opacity: 0.8;
    height: 200px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
table.aplicativos td img:hover{
    opacity: 1;
    filter: none;
    -webkit-filter: none;
}
/* Estilo GO Control Page */
div.cabecalhoapp img{
    border-radius: 25%;
    border: 10px solid var(--color-dark2);
    width: 280px;
    height: 280px;
    overflow: hidden;
    position:static;
    margin: 0px 15%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
div.cabecalhoapp h1{
    margin: 0px 15%;
    font-size: 50px;
}
div.cabecalhoapp{
    margin-top: 50px;
    background-color: var(--color-dark2);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
}
/* Design sobre app */
.sobreapp{
font-family: 'Roboto', sans-serif;
 margin: 50px 15%;
}
.sobreapp h1{
    text-align: center;
   }
.sobreapp button{
    background-color: transparent;
    border: none;
    margin: 10px 10px;
}
.sobreapp button a{ text-decoration: none; background-color: var(--color-purple); padding: 20px; border-radius:10px ; -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ;
    color: var(--color-white);
    align-items: center;
}
.sobreapp button a svg{
    color: var(--color-white);
    height: 20px;
    margin-bottom: -5px;
    margin-left: 10px;
}
.sobreapp .botoes{
    text-align: center;
    margin-top: 25px;
}