:root{
    --color-white:#fff;
    --color-dark1:#130e17;
    --color-dark2:#0e0814;
    --color-dark3:#414141;
    --color-dark4:#130f18;
    --color-dark5:#343434;
    --color-purple:#5700ff;
    --color-blu:#0a8efd;

}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:GoFont;
    src: url('/style/fonts/SansSerifBookFLF.otf') format(opentype);
}
@font-face {
    font-family:GoFont2;
    src: url('/style/fonts/OPTIFuturaDemiBold.otf') format(opentype);
}
@font-face {
    font-family:GoFont3;
    src: url('/style/fonts/SansSerifBldFLF.otf') format(opentype);
}
body{
    background-image: linear-gradient(var(--color-dark1),var(--color-dark4)); 
    margin:auto;
    height: 100%;
    font-family: GoFont;

}
.logo_header{
    width: 125px;
}
/* Estilização de Menu*/
.header, 
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 3.5em;
    justify-content:space-between;
    padding: 0 10%;
}
.navegation_header{
    gap: 3em;
    color: red;
}