:root{
    --color-white:#fff;
    --color-dark1:#130e17;
    --color-dark2:#0e0814;
    --color-dark3:#110a19;
    --color-dark4:#130f18;
    --color-dark5:#343434;
    --color-purple:#5700ff;
    --color-blu:#0a8efd;

}
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    background-image: linear-gradient(var(--color-dark1),var(--color-dark4)); 
    margin:auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);

}
.logo_header{
    width: 125px;
}
/* Estilização de Menu*/
.header, 
.navegation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 3.5em;
    width: 50%;
    justify-content:space-between;
    margin: 0 auto;
    padding: 1% 10%;
    padding: 1% 5%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.navegation_header{
    gap: 2.5em;
}
.navegation_header a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 15px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    font-family: 'Roboto', sans-serif;
}
.navegation_header a:hover{
    color: var(--color-purple);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
a.active{
    background-color: var(--color-dark3);
    color: var(--color-blu);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/*
Estilização de conteúdos
*/

.content{
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transform: 1s;
    -webkit-transform: 1s;
    -moz-transform: 1s;
    -ms-transform: 1s;
    -o-transform: 1s;
}
/*estilização botão download*/
.button_download{
    background-color: transparent;
    border: none;
}
.button_download a{
    text-decoration: none;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 10% 20%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.button_download a:hover{
    box-shadow: 0px 0px 10px var(--color-purple);
}
/* Estilização de botões do menu */

.btn_icon_header{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
@media  screen and (max-width: 768px) {
    .btn_icon_header{
    display: block;
    }
    .navegation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -24vw;
    }
    
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -24vw;}
}